:root {
  --bg-color: #06080C;
  --bg-color-item: #5d6c80;
  --main-text-color: #ffffff;
  --secondary-text-color: #c4c4c466;
  --border-radius: 4px;
  --live-bg-color: #43ad28;
  --finished-bg-color: #eb0237;
  --preparing-bg-color: #eb6402;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--main-text-color);
  font-family: "Inter", sans-serif;
}

ul,
li {
  list-style: none;
}